* {
    text-align: center;
}

/* this function adds a text box around the heading */
.heading {
    height: 150px;
    width: 100%;
    background-color: lightblue;
}

.start-button {
    display: block;
    height: 65px;
    width: 45%;
    margin: 0 auto;
    background-color: lightblue;
    border-radius: 10px;
    line-height: 250%;
}

.quiz-button {
    display: block;
    height: 30px;
    width: 30%;
    margin: 0 auto;
    background-color: lightblue;
    border-radius: 10px;
}

.timer {
    text-align: right
}